# excluding gitignore in sub folders
*/.gitignore

# eclipse setting files
/.settings
*/.settings
.project
.classpath
maven-eclipse.xml

# idea
/.idea
*/.idea
*.iml
.DS_Store

# maven target folder
/target
*/target


